.page-container {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
  padding-left: 280px;
  display: inline-flex !important;
}

@media only screen and (max-width : 992px) {
  .page-container {
    padding-left: 0;
    display: flex !important;
  }
}

#navbar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-by-side >* {
  margin: 0 5px;
}

.bold {
  font-weight: bold;
}

.margin-sm {
  margin: 5px;
}

.margin {
  margin: 20px;
}

.button-sm {
  padding: 0 10px !important;
}

.pad-sides-sm {
  padding: 0 8px !important;
}

#github-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;


}

input[type="file"]::-webkit-file-upload-button {
    background: #26a69a;
    border: 1px solid gray;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
}

html {
  margin: 0.5rem;
}

.content-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.self-container{
  position: absolute;
  left: 0;
  top: 0;
}

.arrow-container a { color: inherit;
text-decoration:none;  
} 

.text-container {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  width: calc(100vw / 3);
}

.random-image {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: calc(100vw / 3);
}

.random-image img {
  width: 100%;
  height: auto;
}

.arrow-container {
  font-size: 3rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.gradient-strip {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
  background: linear-gradient(
    to right,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    #d2d2d2,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent
  );  
}

@media (max-width: 1000px) {
  .text-container {
    font-size: 1.5rem;  
  }
}

@media (max-width: 650px) {
  .text-container {
      font-size: 1.1rem; 
      width: 100%; 
      margin-top: 90%;  
  }

  .random-image {
      top: 0;  
      left: 0;  
      width: 100%; 
  }
  .gradient-strip {
      z-index: -2;
      mix-blend-mode: multiply;
  }

  .random-image img {
    width: 100%;
    height: auto;
  }

  .gradient-strip {
      display: none;
        
      
  }
}

#navbar, #tiny_face_detector_controls, #ssd_mobilenetv1_controls, .fps_meter, #face_detector_selection_control, .row .side-by-side, .hide, h3{
  display: none!important;
}
