@font-face {
    font-family: 'Dooijes';
    src: url('Dooijes-Medium.woff2') format('woff2'),
        url('Dooijes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dooijes';
    src: url('Dooijes-Regular.woff2') format('woff2'),
        url('Dooijes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

